ion-content {
  .div-img {
    width: 100%;
    margin-top: 90px;
    // margin-left: 24px;
    // margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img {
      width: 335px;
    }
  }
  ion-grid {
    margin-top: 13px;
    ion-row {
      ion-col {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .div-btn-points {
          width: 155px;
          height: 82px;
          border: solid 5px #000000;
          border-radius: 15px;
          background-color: #eee9dc;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-label {
            font-family: Anton;
            font-size: 19px;
            font-style: italic;
            font-weight: 880;
          }
        }
      }
    }
  }
  .div-custominput {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-item {
      width: 50%;
      ion-input {
        text-align: center;
        font-family: staatliches;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .div-ok {
      width: 70px;
      height: 50px;
      border: solid 3px #000000;
      border-radius: 15px;
      background-color: #eee9dc;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-label {
        font-family: Anton;
        font-size: 19px;
        font-style: italic;
        font-weight: 680;
      }
    }
  }
}
