<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="div-lang">
      <span><h1>{{'language'| translate}}:</h1></span>
      <span (click)="openSelectLanguage()"
        ><h1 class="eng">{{selectedLanguage}}</h1></span
      ><span (click)="openSelectLanguage()"
        ><ion-icon name="caret-down-outline"></ion-icon
      ></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-tab-button>
          <div
            class="div-btn-points ion-activatable ripple-parent"
            (click)="addSelectedPoint('100')"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <ion-label>100 {{'points'| translate}}</ion-label>
          </div>
        </ion-tab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-tab-button>
          <div
            class="div-btn-points ion-activatable ripple-parent"
            (click)="addSelectedPoint('200')"
          >
            <ion-label>200 {{'points'| translate}}</ion-label>
          </div>
        </ion-tab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="div-btn-points">
          <ion-label *ngIf="!customBtn" (click)="toggleCustomPoint()"
            >{{'custom'| translate}}</ion-label
          >
          <ion-input
            #inputs
            *ngIf="customBtn"
            autofocus="true"
            type="tel"
            maxlength="3"
            [(ngModel)]="selectedPoint"
            (ngModelChange)="addCustomPoint(selectedPoint)"
            placeholder="0"
            inputmode="numeric"
          ></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-tab-button>
          <div
            *ngIf="customBtn && selectedPointNumber>=1 && selectedPointNumber<2001"
            class="div-btn-points ion-activatable ripple-parent"
            style="color: var(--ion-color-success)"
            (click)="setSelectedPoint()"
          >
            <ion-label><ion-text color="success">
              {{'accept'| translate}}
            </ion-text></ion-label>
          </div>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isKeyboardShowing" class="ion-no-border">
  <div class="div-toggle">
  </div>
  <ion-item lines="none" color="none">
    <ion-label class="label-toggle">{{'dark_mode'| translate}}</ion-label>
    <ion-toggle mode="md" (ionChange)="toggleTheme($event)" slot="end" [checked]="toggleChecked"></ion-toggle>
  </ion-item>
</ion-footer>