<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="dark" slot="start">
      <ion-back-button defaultHref="/tabs/language"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-tab-button routerLink="../../point-loading">
          <div class="div-btn-points ion-activatable ripple-parent">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-label>100 Points</ion-label>
          </div>
        </ion-tab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="div-btn-points"><ion-label>200 Points</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="div-btn-points"><ion-label>Custom</ion-label></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
