ion-header {
  .div-btn-points {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    .label-selected-points {
     
      font-weight: 900;
      font-size: 19px;
    }
  }

  // ion-toolbar {
  .div-totalscore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-grid {
      width: 100%;
      padding: 0;
      margin: 0;
      .row-total-score {
        ion-col {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .div-img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px;
            z-index: 900;
            ion-img {
              width: 20vh;
              max-width: 200px;
            }
          }
          ion-label {
            font-size: 28px;
          }
          .label-secondary {
            color: var(--ion-color-secondary);
          }
          .label-primary {
            color: var(--ion-color-primary);
          }
        }
      }
      .row-round {
        margin-top: -2px;
        border-bottom: solid 5px var(--ion-border-color);
        ion-col {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-item {
            ion-label {
              text-align: center;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
ion-content {
  ion-grid {
    margin-top: 0;
    padding-top: 0;
    .row-round {
      border-bottom: solid 5px var(--ion-border-color);
      ion-col {
        padding: 0;
        margin: 0;
        flex: 0 0 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-item {
          // margin: 10px;
          ion-input {
            text-align: center;
            font-size: 24px;
            font-weight: 700;
          }
        }
        div {
          margin: 10px;
          ion-label {
            font-weight: 900;
            font-size: 19px;
        color: #302f2f;
          }
        }

        .div-btn-points {
          width: 132px;
          height: 73px;
          border: solid 5px #000000;
          border-radius: 13px;
          background-color: #dfd7c3;
          display: flex;
          justify-content: center;
          align-items: center;
        
          ion-label {
           
            font-weight: 900;
            font-size: 19px;
          }
        }
        // .add-scores {
        //   //   color: var(--ion-color-primary);
        //   font-size: 24px;
        //   font-weight: 700;
        // }
      }
    }
  }

 
}

ion-footer {
  padding: 0;
  margin: 0;
  ion-row {
    .col-play-btn {
      border-top: 5px solid var(--ion-border-color);
      border-right: 5px solid var(--ion-border-color);
      display: flex;
      justify-content: center;
      .div-btn-play {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-label {
          font-weight: 900;
          font-size: 19px;
          color: var(--ion-border-color);
        }
      }
    }
    .col-explore-btn {
      border-top: 5px solid var(--ion-border-color);
      display: flex;
      justify-content: center;
      height: 60px;
      .div-label1 {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-label {
        font-weight: 900;
        font-size: 19px;
        color: var(--ion-color-success);
        }
      }
    }
  }
}

.padding-left-right-0 {
  padding-left: 0;
  padding-right: 0;
}
