<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons *ngIf="isNewround" slot="start">
      <ion-back-button
        text=""
        defaultHref=""
        class="btn-back"
        color="success"
        (click)="backBtn()"
      ></ion-back-button>
    </ion-buttons>
    <div
      [style.padding]="currentPlatform == 'ios'? '0 23px 0 0':'0 48px 0 0 '"
      class="div-btn-points"
    >
      <ion-label class="label-selected-points"
        >{{selectedPointNumber}} {{'points'| translate}}</ion-label
      >
    </div>
  </ion-toolbar>
  <!-- <ion-toolbar> -->
  <div class="div-totalscore">
    <ion-grid>
      <ion-row class="row-total-score">
        <ion-col size="3"
          ><ion-label class="label-secondary"
            >{{temptotalscore1}}</ion-label
          ></ion-col
        >
        <ion-col size="6"
          ><div class="div-img">
            <ion-img src="../../assets/images/domin8.png"></ion-img></div
        ></ion-col>
        <ion-col size="3"
          ><ion-label class="label-primary"
            >{{temptotalscore2}}</ion-label
          ></ion-col
        >
      </ion-row>
      <ion-row class="row-round">
        <ion-col size="6" style="border-right: solid 5px var(--ion-border-color)">
          <ion-item (click)="presentModal('team I')" lines="none" color="none">
            <ion-label type="text">{{team1}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item (click)="presentModal('team II')" lines="none" color="none">
            <ion-label type="text">{{team2}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-grid class="padding-left-right-0">
    <ion-row class="row-round" *ngFor="let score of gameScore;  let i = index">
      <ion-col size="3">
        <ion-item lines="none" color="none" class="add-scores">
          <ion-input
          [disabled]="!isNewround"
            type="tel"
            inputmode="numeric"
            [(ngModel)]="score.roundscore1"
            (ionChange)="tempScoreChange()"
            placeholder="0"
            maxlength="3"
            (ionBlur)="focusout($event, i)"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6 ">
        <div class="div-btn-points">
          <ion-label>{{'round'|translate}} {{i+1}}</ion-label>
        </div>
      </ion-col>
      <ion-col size="3">
        <ion-item lines="none" color="none" class="add-scores">
          <ion-input
          [disabled]="!isNewround"
          inputmode="numeric"
          [(ngModel)]="score.roundscore2"
            type="tel"
            (ionChange)="tempScoreChange()"
            placeholder="0"
            maxlength="3"
            (ionBlur)="focusout($event, i)"
          ></ion-input>
        </ion-item>
        <!-- <ion-label class="add-scores">-</ion-label> -->
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="isNewround" class="row-round">
      <ion-col size="3">
        <ion-item lines="none" color="none" class="add-scores">
          <ion-input
            [(ngModel)]="temproundscore1"
            (ngModelChange)="tempScoreChange(temproundscore1, 'team1')"
            (ionBlur)="focusout($event)"
            type="tel"
            placeholder="0"
            inputmode="numeric"
            maxlength="3"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <div class="div-btn-points">
          <ion-label>{{'round'|translate}} {{gameScore.length + 1}}</ion-label>
        </div>
      </ion-col>
      <ion-col size="3">
        <ion-item lines="none" color="none" class="add-scores">
          <ion-input
            [(ngModel)]="temproundscore2"
            (ngModelChange)="tempScoreChange(temproundscore2, 'team2')"
            (ionBlur)="focusout($event)"
            type="tel"
            maxlength="3"
            placeholder="0"
            inputmode="numeric"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
  </ion-grid>

</ion-content>

<ion-footer  class="ion-no-border">
  <div class="div-addround" *ngIf="isNewround">
    <ion-tab-button>
      <div class="div-btn-points ion-activatable" (click)="addNewRound()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label> +{{'add'|translate}}</ion-label>
        <ion-label> {{'round'|translate}}</ion-label>
      </div>
    </ion-tab-button>
  </div>
  <ion-row *ngIf="!isKeyboardShowing">
    <ion-col size="12">
      <ion-tab-button (click)="cancelCurrentGame()">
        <div class="div-btn-points ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label> {{'new'|translate}}</ion-label>
          <ion-label> {{'game'|translate}}</ion-label>
        </div>
      </ion-tab-button>
    </ion-col>
  </ion-row>
</ion-footer>
