ion-header {
  ion-toolbar {
    .div-totalscore {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-grid {
        padding: 0;
        margin: 0;
        .row-total-score {
          ion-col {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .div-btn-points {
              width: 125px;
              height: 66px;
              border: solid 5px #000000;
              border-radius: 13px;
              background-color: #dfd7c3;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              ion-label {
                font-family: Anton;
                font-size: 19px;
              }
            }
            .label-secondary {
              color: var(--ion-color-secondary);
            }
            .label-primary {
              color: var(--ion-color-primary);
            }
          }
        }
        .row-round {
          border-bottom: solid 5px #000000;
          padding: 0;
          ion-col {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            ion-item {
              ion-label {
                text-align: center;
                font-family: Staatliches;
                font-size: 19px;
              }

              ion-input {
                text-align: center;
                font-family: staatliches;
                font-size: 24px;
                font-weight: 500;
              }
            }
            .plus-mark {
              font-family: staatliches;
              font-size: 32px;
            }
            .item-player-name {
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
ion-content {
  .team-item{
    --background : #e7e7e7;
    border-bottom: solid 2px #000000;
  }
  ion-grid {
    margin-top: 0;
    padding-top: 0;
    .row-round {
      border-bottom: solid 5px #000000;
      padding: 0;
      ion-col {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-item {
          ion-input {
            text-align: center;
            font-family: staatliches;
            font-size: 24px;
            font-weight: 700;
          }
        }
        div {
          margin: 10px;
          ion-label {
            font-family: ANTON;
            font-size: 19px;
          }
        }

        .div-btn-points {
          width: 125px;
          height: 66px;
          border: solid 5px #000000;
          border-radius: 13px;
          background-color: #dfd7c3;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-label {
            font-family: Anton;
            font-size: 19px;
          }
        }
      }
    }
  }

  .div-addround {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .div-btn-points {
      width: 125px;
      height: 65px;
      border: solid 5px #000000;
      border-radius: 13px;
      background-color: #eee9dc;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-label {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Anton;
        font-size: 18px;
      }
    }
  }
}

ion-footer {
  ion-row {
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      .div-btn-points {
        width: 125px;
        height: 68px;
        border: solid 5px #000000;
        border-radius: 15px;
        background-color: #eee9dc;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        ion-label {
          color: var(--ion-color-success);
          font-family: Anton;
          font-size: 19px;
        }
      }
    }
  }
}

ion-footer {
  --background: #e7e7e7;
  ion-row {
    background-color: #e7e7e7;
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      .div-btn-points {
        width: 125px;
        height: 68px;
        margin-bottom: 5px;
        border: solid 5px #000000;
        border-radius: 15px;
        background-color: #eee9dc;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        ion-label {
          color: var(--ion-color-success);
          font-family: Anton;
          font-size: 19px;
        }
      }
    }
  }
}
