ion-header {
  // ion-toolbar {
  .div-totalscore {
    background-color: #e7e7e7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-grid {
      padding: 0;
      margin: 0;
      .row-total-score {
        ion-col {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          .div-btn-points {
            width: 134px;
            height: 73px;
            border: solid 5px #000000;
            border-radius: 13px;
            background-color: #dfd7c3;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            ion-label {
             
            font-weight: 900;
              font-size: 19px;
            }
          }
        }
      }
      .row-round {
        border-bottom: solid 5px #000000;
        padding: 0;
        ion-col {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-item {
            ion-label {
              text-align: center;
             
            font-weight: 900;
              font-size: 19px;
            }

            ion-input {
              text-align: center;
             
            font-weight: 900;
              font-size: 22px;
              font-weight: 500;
            }
          }
          .plus-mark {
           
            font-weight: 900;
            font-size: 32px;
          }
          .item-player-name {
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

ion-content {
  .team-item {
    --background: #e7e7e7;
    border-bottom: solid 2px #000000;
  }
}

ion-footer {
  --background: #e7e7e7;
  ion-row {
    background-color: #e7e7e7;
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      .div-btn-points {
        width: 132px;
        height: 73px;
        margin-bottom: 5px;
        border: solid 5px #000000;
        border-radius: 15px;
        background-color: #eee9dc;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        ion-label {
          color: var(--ion-color-success);
         
            font-weight: 900;
          font-size: 19px;
        }
      }
    }
  }
}
