ion-header {
  .div-totalscore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-grid {
      padding: 0;
      margin: 0;
      .row-total-score {
        ion-col {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          .div-btn-points {
            width: 134px;
            height: 73px;
            border: solid 5px #272424;
            border-radius: 13px;
            background-color: #dfd7c3;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            ion-label {
              font-weight: 900;
              font-size: 19px;
            }
          }
        }
      }
      .row-round {
        border-bottom: solid 5px var(--ion-border-color);
        padding: 0;
        ion-col {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-item {
            ion-label {
              text-align: center;

              font-weight: 900;
              font-size: 19px;
            }
            --padding-end: 4px;
            --inner-padding-end: 0;
            --inner-padding-start: 0;
            --padding-start: 4px;

            ion-input {
              text-align: center;
              --padding-end: 0;
              --padding-start: 0;
              font-weight: 900;
              font-size: 22px;
              font-weight: 500;
            }
          }
          .plus-mark {
            font-weight: 900;
            font-size: 32px;
            color: var(--icon-color) !important;
          }
          .item-player-name {
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

ion-content {
  .team-item {
    --background: transparent !important;
    border-bottom: solid 2px var(--ion-border-color);
  }
}

ion-footer {
  ion-row {
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      .div-btn-points {
        width: 132px;
        height: 73px;
        margin-bottom: 5px;
        border: solid 5px #272424;
        border-radius: 15px;
        background-color: #eee9dc;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        ion-label {
          color: var(--ion-color-success);

          font-weight: 900;
          font-size: 19px;
        }
      }
    }
  }
}
