<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref=""
        (click)="backBtn()"
        color="success"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
</ion-header>

<ion-content>
  <div class="div-content">
    <div class="div-link">
      <ion-label class="label-link">{{'link'| translate}}</ion-label>
    </div>
  </div>
</ion-content>
