ion-header {
  // ion-toolbar {}
  .div-img {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img {
      width: 185px;
    }
  }
}

ion-content {
  ion-grid {
    margin-top: 50px;
    ion-row {
      padding-bottom: 10px;
      ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          width: 120px;
          height: 75px;
          border: solid 5px #000000;
          border-radius: 15px;
          background-color: #eee9dc;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-label {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: Anton;
            font-size: 19px;
          }
        }
        .div-about {
          color: var(--ion-color-secondary);
        }
        .div-teams {
          color: var(--ion-color-success);
        }
        .div-calendar {
          color: var(--ion-color-primary);
        }
        // .div-link {
        //   // color: var(--ion-color-dark);
        // }
      }
    }
  }
}
