<!-- <ion-header class="ion-no-border">
  <ion-toolbar> </ion-toolbar>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
</ion-header> -->

<ion-content>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-tab-button tab="about">
          <div class="div-btn-points ion-activatable ripple-parent">
            <ion-label class="div-about">{{'about'| translate}}</ion-label>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
        </ion-tab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-tab-button tab="teams">
          <div class="div-btn-points ion-activatable ripple-parent">
            <ion-label class="div-teams">{{'teams'|translate}}</ion-label>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
        </ion-tab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-tab-button tab="redirect-link">
          <div class="div-btn-points ion-activatable ripple-parent">
            <ion-label class="div-calendar">{{'link'| translate}}</ion-label>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
