<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="dark" slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="div-about">
          <ion-label class="label-Calendar"
            ><ion-text color="primary">Calendar</ion-text></ion-label
          >
        </div>
      </ion-col>
    </ion-row>

    <div class="div-p">
      <ion-row>
        <ion-col class="col-p" size="12">
          <div>
            <!-- <p>
              DOMINO8 is run by a team of customizing experts that facilitate
              gaming for all domino aficionados. We provide userrs with
              everything they need to equip themselves with a bona fide gaming
              experience. Explore our Instagram page @<ion-text
                color="secondary"
                >d</ion-text
              >omin5.3 where you may place custom
              <ion-text color="success">o</ion-text>rders after navigating our
              <ion-text color="primary">m</ion-text>obile app. On the gram, you
              will discover <ion-text color="secondary">i</ion-text>nnovations
              created by our experts and upgrade your wardrobe with
              <ion-text color="success">n</ion-text>ew apprel. Enjoy your
              leisure time with us.
            </p> -->
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
