<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="div-lang">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref=""
          (click)="cancelButton()"
          color="success"
        ></ion-back-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>

  <div class="div-label">
    <ion-label class="label-text"
      >{{'will_redirect_you_to'| translate}}
      <div class="div-ins">
        <ion-text color="secondary">INSTAGRAM</ion-text>
      </div>
      <div class="div-domin">
        <ion-text color="primary"
          ><ion-icon style="padding-top: 10px" name="logo-instagram"></ion-icon
        ></ion-text>
        <ion-text color="success"> &nbsp;domin5.3</ion-text>
      </div>
    </ion-label>
  </div>
  <ion-grid class="grid-btn">
    <ion-row>
      <ion-col class="col-continue" size="6">
        <ion-tab-button (click)="continueButton('domin5.3')">
          <ion-label>{{'continue'| translate}}</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col class="cancel" size="6">
        <ion-tab-button (click)="cancelButton()">
          <ion-label>{{'cancel'| translate}}</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
