<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons mode="md" color="dark" slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>

  <div class="div-label">
    <ion-label class="label-text"
      >Will redirect you to
      <div class="div-ins">

        <ion-text color="secondary">INSTAGRAM</ion-text>
      </div>
      <div class="div-domin">
        <ion-text color="primary"
          ><ion-icon style="padding-top: 10px;" name="logo-instagram"></ion-icon
        ></ion-text>
         <ion-text color="success"> &nbsp;domin5.3</ion-text>
      </div>
    </ion-label>

  </div>
  <ion-grid class="grid-btn">
    <ion-row>
      <ion-col class="col-continue" size="6">
        <ion-tab-button (click)="continueButton()">
          <ion-label>CONTINUE</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col class="cancel" size="6">
        <ion-tab-button (click)="cancelButton()">
          <ion-label>CANCEL</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="12">
      <div class="div-btn-points"><ion-label>New Game</ion-label></div>
    </ion-col>
  </ion-row>
</ion-footer> -->
