<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons mode="md" color="dark" slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>

  <div class="div-label">
    <ion-label class="label-text"
      >Will <ion-text color="primary">void</ion-text> current game and
      <ion-text color="secondary">start</ion-text> a new one</ion-label
    >
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="col-continue" size="6">
        <ion-label>CONTINUE</ion-label>
      </ion-col>
      <ion-col class="cancel" size="6">
        <ion-label>CANCEL</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="12">
      <div class="div-btn-points"><ion-label>New Game</ion-label></div>
    </ion-col>
  </ion-row>
</ion-footer>
