ion-content {
  .div-img {
    width: 100%;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img {
      width: 65%;
      max-width: 335px;
    }
  }
  .div-label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 10px;
    text-align: center;

    .label-text {
      font-family: Anton;
      font-size: 20px;
      color: #000000;
    }
  }
  ion-grid {
    margin-top: 40px;
    margin-bottom: 20px;
    ion-row {
      border-bottom: solid 5px #000000;
      ion-col {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-label {
          padding: 5px;
          padding-bottom: 8px;
          padding-top: 7px;
          font-family: staatliches;
          font-size: 24px;
        }
      }
      .col-continue {
        border-right: solid 5px #000000;
      }
    }
  }
}

ion-footer {
  ion-row {
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      .div-btn-points {
        width: 145px;
        height: 78px;
        border: solid 5px #000000;
        border-radius: 15px;
        background-color: #eee9dc;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-label {
          color: var(--ion-color-success);
          font-family: Anton;
          font-size: 19px;
        }
      }
    }
  }
}
