.div-lang {
  height: 37px;
  width: 240px;
  display: flex;
  span {
    margin-right: 7px;
   
    font-weight: 900;
  }
}
ion-content {
  .div-img {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img {
      width: 65%;
      max-width: 335px;
    }
  }
  .div-label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 10px;
    text-align: center;

    .label-text {
     
      font-weight: 900;
      font-size: 20px;
      // color: #000000;
    }
  }
  .grid-btn {
    margin: 0;
    padding: 0;
    margin-top: 71px;
    margin-bottom: 5px;
    ion-row {
      border-bottom: solid 5px var(--ion-border-color);
      ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        ion-label {
          padding: 5px;
          padding-bottom: 8px;
          padding-top: 7px;
         
            font-weight: 900;
          font-size: 19px;
        }
      }
      .col-continue {
        border-right: solid 5px var(--ion-border-color);
        height: 57px;
      }
    }
  }
}

ion-footer {
  ion-row {
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      .div-btn-points {
        width: 145px;
        height: 78px;
        // border: solid 5px #000000;
        border-radius: 15px;
        background-color: #eee9dc;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-label {
          color: var(--ion-color-success);
         
          font-weight: 900;
          font-size: 19px;
        }
      }
    }
  }
}
