<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref=""
        (click)="backBtn()"
        color="success"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>

  <!-- for English -->
  <div *ngIf="lang=='en'" class="div-label">
    <ion-label class="label-text"
      >Will <ion-text color="primary">void</ion-text> current game and
      <ion-text color="secondary">start</ion-text> a new one</ion-label
    >
  </div>
  <!-- for Spanish -->
  <div *ngIf="lang=='sp'" class="div-label">
    <ion-label class="label-text"
      ><div style="display: inline-block">
        <ion-text color="primary">Anulará</ion-text> el juego actual
      </div>
      <div style="display: inline-block">
        y <ion-text color="secondary">comenzará</ion-text> uno nuevo
      </div>
    </ion-label>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="col-continue ion-activatable ripple-parent" size="6">
        <ion-tab-button (click)="startNewGame()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label>{{'continue'| translate}}</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col class="cancel ion-activatable ripple-parent" size="6">
        <ion-tab-button tab="scores">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label>{{'cancel'| translate}}</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="12">
      <div class="div-btn-points">
        <ion-label>{{'New_game'|translate}}</ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>
