ion-content {
  --padding-top: 18px;
  .div-lang {
    margin-left: 20px;
    width: 240px;
    display: flex;
    span {
      margin-right: 7px;
      font-family: Anton;
      h1 {
        font-family: Anton;
        font-size: 19px;
      }
      .eng {
        color: var(--ion-color-success);
      }
      ion-icon {
        margin-top: 19px;
        font-size: 24px;
      }
    }
  }
  // .div-img {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   ion-img {
  //     margin-top: 150px;
  //     margin-left: 22px;
  //     margin-right: 22px;
  //     width: 85%;
  //     max-width: 450px;
  //   }
  // }
}
