ion-tabs {
  background-color: var(--ion-color-medium);
  font-family: staatliches;
  ion-tab-bar {
    height: 100px;
    border-top: 5px solid #272424;
    border-bottom: 5px solid #272424;
    font-family: staatliches;
    .play-tab {
      display: flex;
      height: 100%;
      width: 500px;
      padding: 20px;
      padding-left: 25px;
      border-right: 5px solid #272424;
      color: var(--ion-color-primary) !important;
      ion-label {
        font-size: 30px !important;
        font-weight: 700;
        padding-right: 25px;
      }
      ion-img {
        width: 70px;
        padding-right: 25px;
        // margin: auto;
        // padding-top: 5px;
        // padding-right: 15px;
      }
    }
    .explore-tab {
      height: 100%;
      width: 500px;
      color: var(--ion-color-secondary) !important;
      // background-color: aqua;
      ion-label {
        font-size: 30px !important;
      }
      ion-img {
        width: 16px;
        // margin: auto;
        // padding-top: 5px;
        // padding-right: 20px;
      }
    }
  }

  // test
  // ion-grid {
  ion-row {
    .play-btn {
      border-top: 5px solid #272424;
      border-bottom: 5px solid #272424;
      border-right: 5px solid #272424;
      padding-left: 5px;
      color: var(--ion-color-primary);
      font-size: 32px;
      font-weight: 500;
      ion-col {
        ion-img {
          width: 65px;
        }
      }
    }
    .explore-btn {
      border-top: 5px solid #000000;
      border-bottom: 5px solid #000000;
      padding-top: 10px;
      .col1 {
        font-size: 20px;
        font-weight: 700;
        color: var(--ion-color-secondary);
      }
      .col2 {
        font-size: 16px;
        font-weight: 700;
      }
    }
    .home-btn {
      width: 50px;
      height: 30px;
      margin-left: 10px;
      border: 2px solid #000000;
      border-radius: 7px;
    }
    ion-img {
      width: 50px;
    }
  }
  // }
}
