ion-header {
  ion-toolbar {
    height: 40px;
    padding-top: 3px;
    margin-top: 3px;
  }
  .div-img {
    width: 100%;
    margin-top: 0;
    // margin-left: 24px;
    // margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img {
      width: 185px;
    }
  }
}

ion-content {
  ion-grid {
    margin-top: 70px;
    ion-row {
      padding-bottom: 0;
      ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        .div-about {
          width: 140px;
          height: 75px;
          border: solid 5px #000000;
          border-radius: 15px;
          background-color: #eee9dc;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-label {
            font-family: Anton;
            font-size: 19px;
            font-style: italic;
            font-weight: 750;
          }
          .label-about {
            color: var(--ion-color-secondary);
          }
        }
      }
    }
    .div-p {
      width: 100%;
      margin-top: 0;
      padding-left: 10px;
      padding-right: 10px;
      font-family: Anton;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      .col-p {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          width: 600px;
          p {
            line-height: 27px;
            margin-bottom: 3px;
            margin-top: 3px;
            text-align: justify;
          }
          ion-label {
            float: right;
            font-weight: 800;
          }
        }
      }
    }
  }
}
