<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-img src="../../assets/images/domin8.png"></ion-img>
  <ion-row>
    <ion-col class="text-animation" size="12">
      <ion-text>
        <p>
          <span style="color: var(--ion-color-secondary)">Initiate</span> and
          <span style="color: var(--ion-color-primary)">Dominate</span> <br />
          -the
          <span style="color: var(--ion-color-success)">Domino</span> Effect.
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-img src="../../assets/images/DOMINO GIF1.gif"></ion-img>
</ion-footer>
