ion-content {
  //   --padding-bottom: 100px;
  --height: 100%;
  --padding-end: 12%;
  --padding-start: 12%;
  --padding-top: 75px;

  ion-img {
    margin-top: 90px;
  }
  // ion-footer {
  //   --padding-bottom: 150px;
  // }
  .text-animation {
    padding-top: 80px;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    // margin-left: 32%;

    animation-name: fadeAnimation;
    animation-duration: 6s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeAnimation {
  from {
    // background-color: red;
    opacity: 0;
  }
  to {
    // background-color: yellow;
    opacity: 1;
  }
}
