ion-content {
  --padding-top: 75px;
  .div-domin-img {
    display: flex;
    justify-content: center;

    ion-img {
      margin-top: 70px;
      width: 85%;
      max-width: 450px;
    }
  }

  .text-animation {
    padding-top: 80px;
    font-family: Anton;
    font-size: 24px;
    display: flex;
    justify-content: center;
    // margin-left: 32%;

    animation-name: fadeAnimation;
    animation-duration: 6s;
    animation-fill-mode: forwards;
  }
  .div-gif-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    ion-img {
      width: 60%;
      max-width: 500px;
    }
  }
}
// ---------animation key frames----------
@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// ----------animation key frames--------
