<ion-content [class]="darkModeEnabled?'lightmode':'darkmode'">
  <div class="div-img">
    <div>
      <img src="../../assets/images/domin8.png" />
    </div>
  </div>
  <ion-row>
    <ion-col class="text-animation" size="12">
      <ion-text>
        <div>
          <ion-text color="secondary"
            ><span [class]="className1" [id]="id1">I</span
            ><span [class]="className1" [id]="id2">n</span
            ><span [class]="className1" [id]="id3">i</span
            ><span [class]="className1" [id]="id4">t</span
            ><span [class]="className1" [id]="id5">i</span
            ><span [class]="className1" [id]="id6">a</span
            ><span [class]="className1" [id]="id7">t</span
            ><span [class]="className1" [id]="id8">e</span>&nbsp;
          </ion-text>
          <span [class]="className1" [id]="id9"> a</span>
          <span [class]="className1" [id]="id10">n</span>
          <span [class]="className1" [id]="id11">d</span>&nbsp;
          <ion-text color="primary">
            <span [class]="className1" [id]="id12"> D</span>
            <span [class]="className1" [id]="id13">o</span>
            <span [class]="className1" [id]="id14">m</span>
            <span [class]="className1" [id]="id15">i</span>
            <span [class]="className1" [id]="id16">n</span>
            <span [class]="className1" [id]="id17">a</span>
            <span [class]="className1" [id]="id18">t</span>
            <span [class]="className1" [id]="id19">e</span></ion-text
          >
        </div>
        <div>
          <span [class]="className1" [id]="id20">-</span>&nbsp;
          <span [class]="className1" [id]="id21">t</span>
          <span [class]="className1" [id]="id22">h</span>
          <span [class]="className1" [id]="id23">e</span>&nbsp;
          <ion-text color="success">
            <span [class]="className1" [id]="id24"> D</span>
            <span [class]="className1" [id]="id25">o</span>
            <span [class]="className1" [id]="id26">m</span>
            <span [class]="className1" [id]="id27">i</span>
            <span [class]="className1" [id]="id28">n</span>
            <span [class]="className1" [id]="id29">o</span>&nbsp;
          </ion-text>
          <span [class]="className1" [id]="id30"> E</span>
          <span [class]="className1" [id]="id31">f</span>
          <span [class]="className1" [id]="id32">f</span>
          <span [class]="className1" [id]="id33">e</span>
          <span [class]="className1" [id]="id34">c</span>
          <span [class]="className1" [id]="id35">t</span>
          <span [class]="className1" [id]="id36">.</span>
        </div>
      </ion-text>
    </ion-col>
  </ion-row>
  <div
    class="div-gif-footer"
    style="position: absolute; bottom: 0px; width: 100%"
  >
    <ion-img src="../../assets/images/DOMINO GIF1.gif"></ion-img>
  </div>
</ion-content>
<!-- <ion-footer class="ion-no-border">
  
</ion-footer> -->
