.div-btn-points {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  ion-label {
    font-family: Anton;
    font-size: 19px;
  }
}
ion-content {
  .div-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    ion-img {
      width: 200px;
    }
  }
  .loading-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    margin-bottom: 8%;
    ion-img {
      box-shadow: 2px 3px 13px 3px #888888;
      width: 80%;
      max-width: 500px;
    }
  }
}
