<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="dark" slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <div class="div-p">
      <ion-row>
        <ion-col class="col-p" size="12">
            <ion-label>
              <ion-img src="../../assets/images/congrats.png"></ion-img>
              <div class="div1">to the</div>
              <div class="div2">
                <ion-text color="success">
                  <h1>JOHN & MIKE TEAM</h1>
                </ion-text>
              </div>
              <div class="div3">
                for <ion-text color="secondary">DOMIN8ING </ion-text>
              </div>
              <div class="div4"><b>
                this <ion-text color="primary">match</ion-text>!</b>
              </div>
            </ion-label>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
