<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref=""
        (click)="backBtn()"
        color="success"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div> -->
  <ion-toolbar>
    <div class="div-totalscore">
      <ion-grid fixed>
        <ion-row class="row-total-score">
          <ion-col size="3"
            ><ion-label class="label-secondary">
              {{score1}}
            </ion-label></ion-col
          >
          <ion-col size="6"
            ><div class="div-img">
              <ion-img src="../../assets/images/domin8.png"></ion-img></div
          ></ion-col>
          <ion-col size="3"
            ><ion-label class="label-primary"> {{score2}} </ion-label></ion-col
          >
        </ion-row>
        <!-- <ion-row class="row-round">
          <ion-col size="6" style="border-right: solid 5px #000000">
            <ion-item lines="none" color="none">
              <ion-input type="text" [(ngModel)]="team1Name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none" color="none">
              <ion-input type="text" [(ngModel)]="team2Name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <div class="div-p">
      <ion-row>
        <ion-col class="col-p" size="12">
          <ion-label>
            <!-- <ion-img src="../../assets/images/congrats.png"></ion-img> -->
            <div class="div0">{{'congrats'| translate}}!</div>
            <div class="div1">{{'to_the' | translate}}</div>
            <!-- for English Language -->
            <div *ngIf="lang!=='sp'" class="div2">
              <ion-text color="success">
                <h1>{{winTeamName}} Team</h1>
              </ion-text>
            </div>
            <!-- for spanish Language -->
            <div *ngIf="lang=='sp'" class="div2">
              <ion-text color="success">
                <h1>EQUIPO</h1>
                <h1>{{winTeamName}}</h1>
              </ion-text>
            </div>
            <div class="div3">
              {{'for'| translate}}
              <ion-text color="secondary">{{'domin8ing'|translate}} </ion-text>
            </div>
            <div class="div4">
              <b>
                {{'this'| translate}}
                <ion-text color="primary">{{'match'| translate}}</ion-text>!</b
              >
            </div>
            <div *ngIf="score1 == 0 || score2 == 0" class="div0">
              {{'goat'| translate}}!
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
