<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="dark" slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="div-about">
          <ion-label class="label-teams"
            ><ion-text color="success">Teams</ion-text></ion-label
          >
        </div>
      </ion-col>
    </ion-row>

    <div class="div-p">
      <ion-row>
        <ion-col class="col-li" size="12">
          <div>
            <ul>
              <li>Brian & Tom: W = 5 | L = 2</li>
              <li>John & Mike: W = 3 | L = 4</li>
              <li>Sam & Roger: W = 2 | L = 1</li>
              <li>Bob & Kyle: W = 1 | L = 2</li>
            </ul>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
