<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref=""
        (click)="backBtn()"
        color="success"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="div-img">
    <ion-img src="../../assets/images/domin8.png"></ion-img>
  </div>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="row-label">
      <ion-col size="12">
        <div class="div-teams">
          <ion-label class="label-teams"
            ><ion-text color="success"
              >{{'teams'| translate}}</ion-text
            ></ion-label
          >
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row-head">
      <ion-col class="col" size="5">
        <ion-label class="label-w">{{ 'w' | translate }}</ion-label>
      </ion-col>
      <ion-col size="1" style="border-right: solid 5px #000000"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="5">
        <ion-label class="label-l">{{ 'l' | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row-content" *ngFor="let team of teams; let i = index">
      <ion-col class="col" size="4">
        <ion-label class="label1">{{i+1}} &nbsp;</ion-label>
        <ion-label text-wrap class="label2"
          >{{team.teamname1}}  {{team.teamname2? ' + ' + team.teamname2 : ''}}</ion-label
        >
      </ion-col>
      <ion-col class="col" size="2" style="border-right: solid 5px #000000">
        <ion-label class="label3">{{team.wins}}</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-label class="label4">{{team.loss}}</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label class="label5"
          >% {{(team.wins)/(team.wins+team.loss)}}</ion-label
        >
      </ion-col>
    </ion-row>

    <!-- <div class="div-p">
      <ion-row>
        <ion-col class="col-li" size="12">
          <div>
            <ul>
              <li *ngFor="let team of teams">
                {{team.teamname}}: W = {{team.wins}} | L = {{team.loss}}
              </li>
            </ul>
          </div>
        </ion-col>
      </ion-row>
    </div> -->
  </ion-grid>
</ion-content>
