ion-header {
  .div-img {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img {
      width: 185px;
    }
  }
}

ion-content {
  ion-grid {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    .row-label {
      padding-bottom: 0;
      ion-col {
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .div-teams {
          width: 137px;
          height: 75px;
          border: solid 5px #000000;
          border-radius: 15px;
          background-color: #eee9dc;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-label {
            font-family: Anton;
            font-size: 19px;
          }
          .label-about {
            color: var(--ion-color-secondary);
          }
        }
      }
    }
    .row-head {
      border-bottom: solid 5px #000000;
      padding: 0;
      margin: 0;
      ion-col {
        display: inline-block;
        align-items: center;
        padding: 0;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        ion-label {
          // text-align: center;
          font-family: Staatliches;
          font-size: 19px;
        }
        .label-w {
          text-align: right;
          float: right;
        }
        .label-l {
          text-align: left;
        }
      }
    }
    .row-content {
      ion-col {
        ion-label {
          display: flex;
          justify-content: center;
          text-align: center;
          font-family: Staatliches;
          font-size: 19px;
        }

        .team-names {
          display: flex;
          justify-content: left;
          text-align: left;
          .label1 {
            float: left;
            text-align: left;
          }
          .label2 {
            float: left;
            text-align: left;
            display: block;
            width: 20vh;
            // word-wrap: break-word;
            word-break: break-all;
          }
        }
        .label3 {
          // float: right;
          text-align: right;
          margin-right: 5px;
        }
        .label4 {
          margin-left: 5px;
        }
        .label5 {
          text-align: right;
        }
      }
    }
    // .div-p {
    //   width: 100%;
    //   margin-top: 0;
    //   padding-left: 10px;
    //   padding-right: 10px;
    //   font-family: Anton;
    //   font-size: 15px;
    //   .col-li {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     div {
    //       width: 450px;
    //       li {
    //         line-height: 27px;
    //         margin-bottom: 3px;
    //         margin-top: 3px;
    //         text-align: justify;
    //       }
    //     }
    //   }
    // }
  }
}
