ion-content {
  .div-img {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img {
      width: 360px;
    }
  }
  .div-label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 10px;
    text-align: center;

    .label-text {
      font-family: Anton;
      font-size: 20px;
      color: #000000;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .div-domin {
        margin-top: -5px;
      }
    }
  }
  .grid-btn {
    margin-top: 50px;
    margin-bottom: 30px;
    ion-row {
      border-bottom: solid 5px #000000;
      ion-col {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-label {
          padding: 5px;
          padding-bottom: 8px;
          padding-top: 7px;
          font-family: staatliches;
          font-size: 24px;
        }
      }
      .col-continue {
        border-right: solid 5px #000000;
      }
    }
  }
}
